@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

nav{
  position: relative;
  background: black;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
  margin-bottom: 0px;
}
/* nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 90px;  
} */
 .logoimg{
  filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
}

.list li a::before{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.4s;
}

.img{
  background: url('img3.jpg')no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.center{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title{
  color: #fff;
  font-size: 55px;
  font-weight: 600;
}
.center .sub_title{
  color: #fff;
  font-size: 52px;
  font-weight: 600;
}
.center .btns{
  margin-top: 20px;
}
.center .btns button{
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.center .btns button:first-child{
  color: #fff;
  background: none;
}
.btns button:first-child:hover{
  background: white;
  color: black;
}
.center .btns button:last-child{
  background: white;
  color: black;
}


      nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
        flex-wrap: wrap;
        font-size: 18px;
        font-family: serif;
        padding: 15px;
        background: black;
        /* height: 100vh; */
    }
    
     nav a{
        text-decoration: none;
        color: white;
    } 
    
    .list {
        display: flex;
        list-style: none;
        gap:25px;
    
    }
    .list li a:hover::before{
      width: 100%;
      
    }
    
    .list li a:hover{
      background: white;
      color: black;
      height: 70px;
      border-radius:5px;
    }
    #toggler, label{
        display: none;
    }
    
     label i{
        color:white;
     }
    
     @media screen and (max-width: 600px){
        .Menu{
            width: 100%;
            max-height: 0;
            overflow: hidden;
        }
        label{
            display: inline-flex;
    
        }
        #toggler:checked~.Menu{
            max-height: 100%;
        }
        .list{
            flex-direction: column;
            align-items: center;
            padding: 20px;
    
        }
        .center .btns{
          display: grid;
        grid-auto-rows: 60px;
        grid-gap: 20px;
          justify-content: center;
        }
    } 
    
    
  
  
 